{%extends 'base.html'%}

{%block title %} Fast menu{% endblock %}

{%block contenido%} 

<h2> Crear un nuevo proyecto </h2>
<form action="{% url 'crear-proyecto'%}" method="POST">
    {{form.as_p}}
    {% csrf_token %}
    <button type="submit"> Guardar </button>
</form>
{%endblock %}

{% block footer_contenido %}
<div class="footerColumn">
    <h3>Últimos tres proyectos:</h3>
    <ul>
        {% for proyecto in ultimos_proyectos %}
            <li>
                <a href="{% url 'detalle_proyecto' proyecto.pk %}">{{ proyecto.nombre }}</a>
            </li>
        {% empty %}
            <li>No existen proyectos</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}