{%extends 'base.html'%}

{%block contenido%} 
    <div class="formulario">
        <h2> Crear un nuevo empleado </h2>
        <form action="{% url 'crear-empleado'%}" method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <button type="submit"> Guardar </button>
        </form>
    </div>
{%endblock %}

{% block footer_contenido %}
    <div class="ultimos-registros">
        <h3>Últimos tres empleados</h3>
        <ul>
            {% for empleado in ultimos_empleados %}
                <li>
                    <a href="{% url 'detalle_empleado' empleado.pk %}">{{ empleado.nombre }}</a>
                </li>
            {% empty %}
                <li>No existen empleados</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}