{% extends "base.html" %}

{% block contenido %}
    {% if empleado %}
        <div class="detalles">
        <h2>Detalles de {{ empleado.nombre }}</h2>
        <ul>
            <li><strong>DNI:</strong> {{ empleado.dni }}</li>
            <li><strong>Apellidos:</strong> {{ empleado.apellidos }}</li>
            <li><strong>Email:</strong> {{ empleado.email }}</li>
            <li><strong>Telefono:</strong> {{ empleado.telefono }}</li>
            <li><strong>Disponibilidad:</strong> {{ empleado.disponibilidad }}</li>
        </ul>
        <form method="post" action="{% url 'empleado_delete' empleado.pk %}">
            {% csrf_token %}
            <a href="{% url 'empleado_update' empleado.pk %}" class="boton-editar">Editar empleado</a>
            <button type="submit" class="boton-borrar">Eliminar empleado</button>
        </form>

        <a href="{% url 'empleados' %}" class="boton-volver">Volver a la lista</a> 
    </div>
    {% else %}
        <p>Empleado no encontrado.</p>
    {% endif %}
{% endblock %}
