{% extends "base.html" %}

{% block contenido %}
    {% if herramienta %}
        <div class="detalles">
            <h2>Detalles de {{ herramienta.nombre }}</h2>
            <ul>
                <li><strong>Nombre de la herramienta:</strong> {{ herramienta.nombre }}</li>
                <li><strong>Descripción de la herramienta:</strong> {{ herramienta.descripcion }} </li>
                <li><strong>Horas disponibles de la herramienta:</strong> {{ herramienta.horas_disponibilidad }}</li>
            </ul>
            <a href="{% url 'herramienta_update' herramienta.pk %}" class="boton-editar">Editar herramienta</a>
            <form method="post" action="{% url 'herramienta_delete' herramienta.pk %}">
                {% csrf_token %}
                <button type="submit" class="boton-borrar">Eliminar herramienta</button>
            </form>

            <a href="{% url 'herramientas' %}" class="boton-volver">Volver a la lista de herramientas</a> 
        </div>
    {% else %}
        <p>Herramienta no encontrada</p>
    {% endif %}
{% endblock %}

{% block footer_contenido %}
<div class="footerColumn">
    <h3>Últimas tres herramientas</h3>
    <ul>
        {% for herramientas in ultimas_herramientas %}
            <li>
                <a href="{% url 'detalle_herramienta' herramienta.pk %}">{{ herramienta.nombre }}</a>
            </li>
        {% empty %}
            <li>No existen herramientas</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
