{% extends "base.html" %}

{% block contenido %}
    {% if herramienta %}
        <div class="detalles">
            <h2>Detalles de {{ herramienta.nombre }}</h2>
            <ul>
                <li><strong>Nombre de la herramienta:</strong> {{ herramienta.nombre }}</li>
                <li><strong>Descripción de la herramienta:</strong> {{ herramienta.descripcion }} </li>
                <li><strong>Horas disponibles de la herramienta:</strong> {{ herramienta.horas_disponibilidad }}</li>
                <li><strong>Fecha de compra de la herramienta:</strong> {{ herramienta.fecha_compra }}</li>
                <li><strong>Caducidad de la garantía de la herramienta:</strong> {{ herramienta.caducidad_garantia }}</li>
                <li><strong>Departamento propietario de la herramienta:</strong> {{ herramienta.pertenencia }}</li>
            </ul>
            
            <form method="post" action="{% url 'herramienta_delete' herramienta.pk %}">
                {% csrf_token %}
                <a href="{% url 'herramienta_update' herramienta.pk %}" class="boton-editar">Editar herramienta</a>
                <button type="submit" class="boton-borrar">Eliminar herramienta</button>
            </form>

            <a href="{% url 'herramientas' %}" class="boton-volver">Volver a la lista de herramientas</a> 
        </div>
    {% else %}
        <p>Herramienta no encontrada</p>
    {% endif %}
{% endblock %}
