{% extends "base.html" %}


{% block contenido %}
    <h1>Lista de tareas</h1>
    <ul class="list-view"> 
        {% for tarea in lista_tareas %}  
        <li><a href="{% url 'detalle_tarea' tarea.pk %}">{{ tarea.nombre }}</a></li> 

        {% endfor %} 
    </ul>
{% endblock %}

{% block footer_contenido %}
<div class="footerColumn">
    <h3>Últimas tres tareas</h3>
    <ul>
        {% for tarea in ultimas_tareas %}
            <li>
                <a href="{% url 'detalle_tarea' tarea.pk %}">{{ tarea.nombre }}</a>
            </li>
        {% empty %}
            <li>No hay tareas todavía</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}