{% extends "base.html" %}


{% block contenido %}
    <h1>Lista de proyectos</h1>
    <ul class="list-view"> 
        {% for proyecto in lista_proyectos %}  
        <li><a href="{% url 'detalle_proyecto' proyecto.pk %}">{{ proyecto.nombre }}</a></li> 

        {% endfor %} 
    </ul>
{% endblock %}


{% block footer_contenido %}
<div class="footerColumn">
    <h3>Últimos tres proyectos</h3>
    <ul>
        {% for proyecto in ultimos_proyectos %}
            <li>
                <a href="{% url 'detalle_proyecto' proyecto.pk %}">{{ proyecto.nombre }}</a>
            </li>
        {% empty %}
            <li>No existen proyectos</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}