{% extends "base.html" %}

{% block title %}
    Inicio de Sesión
{% endblock %}

{% block contenido %}
<div class="login-container">
    <h2>Inicio de Sesión</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br><br>

        <div class="form-buttons">
            <button type="submit" class="btn-enviar">Iniciar Sesión</button>
            <a href="{% url 'registro' %}" class="link-registro">Registro</a>
        </div>
    </form>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="mensaje2">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
