{% extends "base.html" %}

{% block contenido %}
    {% if proyecto %}
        <h2>Detalles de {{ proyecto.nombre }}</h2>
        <ul>
            <li><strong>Descripción:</strong> {{ proyecto.descrcipcion }}</li>
            <li><strong>Fecha de inicio:</strong> {{ proyecto.fecha_inicio }}</li>
            <li><strong>Fecha de fin:</strong> {{ proyecto.fecha_fin }}</li>
            <li><strong>Presupuesto:</strong> {{ proyecto.presupuesto }} años</li>
            <li><strong>Cliente:</strong> {{ proyecto.cliente }} años</li>
            <li><strong>Presupuesto:</strong> {{ proyecto.presupuesto }} años</li>
            <li><strong>Empleados:</strong> {{ proyecto.empleados }} años</li>
        </ul>

        <!-- Botón para eliminar al proyecto -->
        <form method="post" action="{% url 'proyecto_delete' proyecto.pk %}">
            {% csrf_token %}
            <button type="submit" class="boton-borrar">Eliminar proyecto</button>
        </form>

        <a href="{% url 'proyectos' %}">Volver a la lista</a> 
    {% else %}
        <p>Proyecto no encontrado.</p>
    {% endif %}
{% endblock %}
